.dixel-blog-module {
  padding-top: 40px;
  padding-bottom: 40px;

  @media ($M) {
    padding-top: 52px;
    padding-bottom: 52px;
  }

  @media ($XXL) {

  }
}

.dixel-blog-module-header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;

  @media ($M) {
    margin-bottom: 40px;
    justify-content: space-between;
  }
}

.dixel-blog-module__title {
  color: $dixel-blue;

  & span {
    font-family: "SF Pro";
    font-style: normal;
    font-weight: 400;
  }
}

.dixel-blog-module__button {
  display: none;

  @media ($M) {
    display: block;
  }
}

.dixel-blog-module-cards {
  display: flex;
  gap: 20px;
  overflow: hidden;
  max-width: 1200px;
  margin: 0 auto;
}

.dixel-blog-module-card {
  width: 384px;
  flex-shrink: 0;

  @media ($M) {
    width: 384px;
  }
}

.dixel-blog-module-card-wrapper {
  position: relative;
}

.dixel-blog-module-card-inner {
  display: flex;
  align-items: flex-end;
  position: relative;
  width: 100%;
  height: 296px;
  padding: 20px;
  background-color: lightgray;
  mask-image: url('../images/blog-module-mask.svg');
  mask-repeat: no-repeat;
  mask-size: cover;

  @media ($M) {
    height: 296px;
  }
}

.dixel-blog-module-card__pic {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dixel-blog-module-card__title {

}

.dixel-blog-module-card__title__mobile {
  margin-top: 16px;
  color: $dixel-blue;

  @media ($XXL) {
    //display: none;
  }
}

.dixel-blog-module-card__title__descktop {
  display: none;

  @media ($XXL) {
    display: block;
    color: #fff;
  }
}

.dixel-blog-module-card__button {
  position: absolute;
  bottom: 0;
  right: 0;

}