.dixel-blogs-page {
  padding-top: 20px;
  padding-bottom: 20px;

  @media ($M) {
    padding-top: 52px;
    padding-bottom: 52px;
  }

  @media ($XXL) {

  }
}

.dixel-blogs-page-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  margin-bottom: 28px;

  @media ($XXL) {

  }
}

.dixel-blogs-page-bubbles {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.dixel-blogs-page-bubble {
  display: flex;
  height: 50px;
  padding: 12px 16px;
  justify-content: center;
  align-items: center;

  border-radius: 40px;
  border: 1px solid rgba(0, 0, 0, 0.10);

  color: #251B4C;
  font-feature-settings: 'ss01' on;
}



.dixel-blogs-page-title {
  color: $dixel-blue;

  & span {
    font-family: "SF Pro";
    font-style: normal;
    font-weight: 400;
  }
}

.dixel-blogs-page-tab-menu {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 6px;
  overflow-x: scroll;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 24px;

  @media ($M) {
    gap: 12px;
    margin-bottom: 44px;
  }

  @media ($XXL) {

  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.dixel-blogs-page-tab-menu::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.dixel-blogs-page-tab-menu {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.dixel-blogs-page-tab-menu__item {
  display: flex;
  flex-shrink: 0;
  height: 42px;
  padding: 0 16px;
  justify-content: center;
  align-items: center;

  border-radius: 40px;
  background: $dixel-light-blue;

  color: $dixel-blue;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 17.5px */
  letter-spacing: -0.5px;

  cursor: pointer;

  @media ($M) {
    height: 52px;
    padding:0 20px;

    font-size: 16px;
  }

  &:hover {
    background-color: $dixel-blue;
    color: #fff;
  }
}

.dixel-blogs-page-tab-menu__item_active {
  background-color: $dixel-blue;
  color: #fff;
}

.dixel-blogs-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;

  margin-bottom: 24px;

  @media ($M) {
    gap: 40px;
    margin-bottom: 40px;
  }

  @media ($XXL) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 20px;
  }
}

.dixel-blogs-page-card {
  width: 343px;
  flex-shrink: 0;

  @media ($M) {
    width: 570px;
  }
}

.dixel-blogs-page-card-wrapper {
  position: relative;
}

.dixel-blogs-page-card-inner {
  display: flex;
  align-items: flex-end;
  position: relative;
  width: 100%;
  height: 240px;
  padding: 20px;
  background-color: lightgray;
  mask-image: url('../images/our-cases-mask-mobile.png');
  mask-repeat: no-repeat;
  mask-size: cover;

  @media ($M) {
    height: 300px;
    mask-image: url('../images/our-cases-mask.svg');
  }
}

.dixel-blogs-page-card__pic {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.dixel-blogs-page-card__tag {
  position: absolute;
  top: 16px;
  left: 16px;

  border-radius: 48px;
  border: 1px solid rgba(255, 255, 255, 0.50);
  background: #FFF;
  padding: 8px 12px;

  color: $dixel-blue;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%; /* 18.9px */

  @media ($M) {
    top: 24px;
    left: 24px;
    padding: 12px 16px;
    font-size: 16px;
  }
}

.dixel-blogs-page-card__read-time {
  position: absolute;
  top: 24px;
  right: 15px;

  color: #FFF;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%; /* 18.9px */

  @media ($M) {
    top: 36x;
    right: 24px;
    font-size: 16px;
  }
}

.dixel-blogs-page-card__title {
  margin-top: 16px;
  margin-bottom: 8px;
  color: $dixel-blue;

  @media ($M) {
    margin-top: 20px;
    margin-bottom: 16px;
  }
}

.dixel-blogs-page-card-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.dixel-blogs-page-card-info__adres {
  color: $dixel-blue;
  font-feature-settings: 'ss01' on;
  opacity: 0.7;
}

.dixel-blogs-page-card-info__price {
  color: $dixel-blue;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 19.2px */
  letter-spacing: -1px;

  @media ($M) {
    display: none;
  }
}

.dixel-blogs-page-card__button {
  position: absolute;
  bottom: 0;
  right: 0;
}

.dixel-blogs-page-pagintation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @media ($M) {

  }

  @media ($XXL) {
    justify-content: center;
    gap: 24px;
  }
}

.dixel-blogs-page-pagintation-digits {
  display: flex;
  gap: 20px;
  align-items: center;

  @media ($M) {
    gap: 40px;
  }

  @media ($XXL) {
    gap: 8px;
  }
}

.dixel-blogs-page-pagintation-digits__item {
  color: rgba(13, 15, 17, 0.50);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%; /* 21.6px */
}

.dixel-blogs-page-pagintation-digits__item__active {
  color: $dixel-blue;
}


