.dixel-our-cases {
  padding-top: 20px;
  padding-bottom: 20px;

  @media ($M) {
    padding-top: 52px;
    padding-bottom: 52px;
  }

  @media ($XXL) {

  }
}

.dixel-our-cases-title {
  margin-bottom: 32px;
  color: $dixel-blue;

  @media ($M) {

  }

  & span {
    font-family: "SF Pro";
    font-style: normal;
    font-weight: 400;
  }
}

.dixel-our-cases-tab-menu {
  display: flex;
  align-items: center;
  gap: 6px;
  overflow-x: scroll;
  max-width: 1200px;
  margin: 0 auto;
  margin-bottom: 24px;

  @media ($M) {
    gap: 12px;
    margin-bottom: 31px;
  }

  @media ($XXL) {

  }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.dixel-our-cases-tab-menu::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.dixel-our-cases-tab-menu {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.dixel-our-cases-tab-menu__item {
  display: flex;
  flex-shrink: 0;
  height: 42px;
  padding: 0 16px;
  justify-content: center;
  align-items: center;

  border-radius: 40px;
  background: $dixel-light-blue;

  color: $dixel-blue;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 125%; /* 17.5px */
  letter-spacing: -0.5px;

  cursor: pointer;

  @media ($M) {
    height: 52px;
    padding:0 20px;

    font-size: 16px;
  }

  &:hover {
    background-color: $dixel-blue;
    color: #fff;
  }
}

.dixel-our-cases-tab-menu__item:first-child {
  margin-left: 16px;

  @media ($M) {
    margin-left: 40px;
  }

  @media ($XXL) {
    margin-left: 0;
  }
}

.dixel-our-cases-tab-menu__item_active {
  background-color: $dixel-blue;
  color: #fff;
}