* {
  box-sizing: border-box;
}

body {
  background-color: $dixel-blue;
  overflow-x: hidden;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 16px;

  @media ($M) {
    width: 640px;
    padding: 0;
  }

  @media ($XXL) {
    width: 100%;
    max-width: 1340px;
    padding: 0 70px;
  }
}

.dixel-main {
  background-color: $dixel-background;
  border-radius: 0px 0px 32px 32px;
  padding-top: 105px;

  @media ($M) {
    border-radius: 0px 0px 40px 40px;
    padding-top: 140px;
  }

  @media ($XXL) {
    padding-top: 104px;
  }
}

.control {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: fit-content;
  padding: 20px;
  background-color: lightgray;
}

.control-item {
  color: #251b4c;
}

//filter: drop-shadow(0px 5px 15px rgba(0, 0, 0, 0.1));
