@font-face {
  font-family: "DOSS";
  src: url('/fonts/DOSS-Acid.ttf')  format('truetype');
  font-style: normal;
  font-display: swap;
}

.headline-h2 {
  font-family: 'DOSS';
  font-size: 58px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px;
}

.headline-h3 {
  /* Desktop/Headline/H3 (44\40) */
  font-family: DOSS;
  font-size: 44px;
  font-style: normal;
  font-weight: 400;
  line-height: 40px;
}

.headline-h4 {
  /* Desktop/Headline/H4 (32\32) */
  font-family: DOSS;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 100% */
  letter-spacing: 0.5px;
}

.headline-h5 {
  /* Desktop/Headline/H5 (24\24) */
  font-family: DOSS;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 100% */
  letter-spacing: 1px;
}

.mobile-headline-h1 {
  /* Mobile/Headline/H1 (44\32) */
  @media ($mobile_only) {
    font-family: DOSS;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 44px;
  }
}

.mobile-headline-h2 {
  /* Mobile/Headline/H2 (32\32) */
  @media ($mobile_only) {
    font-family: DOSS;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
  }
}

.mobile-headline-h3 {
  /* Mobile/Headline/H3 24\24) */
  @media ($mobile_only) {

    font-family: DOSS;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 100% */
  }
}

.body-1 {
  /* Desktop/Body/Body 1 */
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 28.8px */
  letter-spacing: -1px;
}

.body-2 {
  /* Desktop/Body/Body 2 */
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 28px */
}

.body-3 {
  /* Desktop/Body/Body 3 */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 135%; /* 21.6px */
}

.mobile-body-2 {
  /* Mobile/Body/Body 2 (14\140) */
  @media ($mobile_only) {
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 19.6px */
  }
}


