@font-face {
  font-family: "DOSS";
  src: url('/fonts/DOSS-Acid.ttf')  format('truetype');
  font-style: normal;
  font-display: swap;
}

.headline-h2 {
  font-family: 'DOSS';
  font-size: 58px;
  font-style: normal;
  font-weight: 400;
  line-height: 56px;
}

.mobile-headline-h1 {
  /* Mobile/Headline/H1 (44\32) */
  @media ($mobile_only) {
    font-family: DOSS;
    font-size: 44px;
    font-style: normal;
    font-weight: 400;
    line-height: 44px;
  }
}

.body-1 {
  /* Desktop/Body/Body 1 */
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 28.8px */
  letter-spacing: -1px;
}

.mobile-body-2 {
  /* Mobile/Body/Body 2 (14\140) */
  @media ($mobile_only) {
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 19.6px */
  }
}


